// tailwindcss configuration files
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// register all pages styles
@import '../fonts/fonts';

// register utils sass files
@import 'utils/media-queries';
@import 'utils/animation';
@import 'utils/loader';
@import 'utils/utils';

// register all pages styles

// register all components styles
@import 'components/navbar';
@import 'components/typography';
@import 'components/button';
@import 'components/input';

// register all sections styles
@import 'sections/hero';
@import 'sections/aboutUs';
@import 'sections/contactUs';
@import 'sections/faq';
@import 'sections/custom_section';
@import 'sections/footer';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// font-family: 'Poppins', sans-serif;
	font-family: 'EB Garamond', serif;
	scroll-behavior: smooth;
	// @apply br;
}

// font-family: ;
body {
	overflow-x: hidden !important;
	&:has(.notification-overlay) {
		overflow-y: hidden !important;
	}
}

#quote {
	background-image: url('/images/quote/bg.svg');

	background-repeat: no-repeat;
	background-size: cover;
	background-color: red;
	// color: red;
	height: 40vh;
}

.linear_bg {
	// background: rgba(37, 22, 5, 0.427);
	background: linear-gradient(105.91deg, #251605 9.35%, #4d3e2d 38.42%, #4d3e2d 58.49%, #251605 85.44%);
}

.loader_white {
	&::before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.2;
		background-repeat: no-repeat;
		// background-position: 50% 0;
		background-size: contain;
		// background-image: url('/images/k_hero_bg.svg');
		background-image: url('/images/k_loader_bg.webp');

		// background-color: #251605;
	}

	// .overlay {
	// 	opacity: 0.92767;
	// 	// background-color: #251605;

	// 	background: linear-gradient(105.91deg, #251605 9.35%, #4d3e2d 38.42%, #4d3e2d 58.49%, #251605 85.44%);
	// 	// z-index: 20;

	// 	&::before {
	// 		content: ' ';
	// 		display: block;
	// 		position: absolute;
	// 		left: 0;
	// 		top: 0;
	// 		width: 100%;
	// 		height: 100%;
	// 		opacity: 0.2;
	// 		// z-index: 10;
	// 		background-repeat: no-repeat;
	// 		// background-position: 50% 0;
	// 		background-size: contain;
	// 		// background-image: url('/images/k_hero_bg.svg');
	// 		background-image: url('/images/k_loader_bg.webp');

	// 		// background-color: red;
	// 	}
	// }

	.fadeOut {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('/images/k_home_1.webp');
		
		@include smallPhone{
			background-image: url('/images/k_phone_overlay.webp');

		}

	
	}

		.fadeOut-brand {
			background-image: url('/images/k_brand_overlaty.webp');
			background-size: cover;
			background-repeat: no-repeat;
			
			@include smallPhone{
				background-image: url('/images/k_bran_overlay.webp');

		}
	}
}

.mobile_bg_laoder {
	background-image: url('/images/k_loader_2.webp');
	background-size: cover;
	background-repeat: no-repeat;
}

.mobile_bg_laoder-brand {
	background-image: url('/images/k_brand_loader.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.alert {
	// @appl;		display: block;
		
		&::before {
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0.009;
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: cover;
			background-image: url('/images/k_hero_bg.svg');

			// background-color: red;
		}
}



// .swiper {
//   width: 100%;
//   padding-top: 50px;
//   padding-bottom: 50px;
//   border: 1px solid red;
// }

// .swiper-slide {
//   background-position: center;
//   background-size: cover;
//   width: 300px;
//   height: 300px;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
// }


.mySwiper{
	width: 580px;
	margin-top: 20px;
	// @apply br;
	@include smallPhone{
	width: 100%;
	// width: 300px;
	}
}

.swiper-pagination{
bottom: 0px !important;
// z-index: 9999999999999999;
position: relative !important;
text-align: center;
	// margin-top: 20px;
// border: 1px solid red;

&-bullet{
	background-color: #F1890E;
}

}

.swiper-slide-next, .swiper-slide-prev{
	transform: scale(0.9) !important;
	opacity: 0.8 !important;
}
